
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #777;
    color: #777;
    width: 960px;
    font-size: 18px;
    margin: 10px;
}

.container {
    width: 960px;
    padding: 40px;
    margin: 5px 60px 5px 60px;
    text-align: center;
}

#header {
    padding: 5px;
    text-align: center;
    background-color: #ebebeb;
    font-size: 20px;
    color: #777;
    height: 60px; width: 950px;
}

#navbar {
    padding: 5px;
    text-align: center;
    background-color: #ebebeb;
    font-size:20px;
    color: #777;
    height: 60px; width: 950px;
}



#section {
    width: 420px;
    height: 300px;
    padding: 20px;
    float: left;
    display: block;
    background-color: #ebebeb;
}

#aside {
    width: 420px;
    height: 300px;
    padding: 20px;
    float: right;
    display: block;
    background-color: #ebebeb;
}

#article {
    background: #777;
    color: #ebebeb;
    width: 350px;
    height: 150px;
    padding: 25px;
}

#section2 {
    background: #ebebeb;
    color: #777;
    width: 335px;
    height: 30px;
}

#paragraph {
    background: #ebebeb;
    color: #777;
    width: 335px;
    height: 30px;
}

#footer {
    padding: 5px;
    text-align: center;
    background-color: #ebebeb;
    font-size: 20px;
    color: #777;
    height: 60px; width: 950px;
    margin-top: 340px;
}


